body {
/*    background-image: url("/images/bg-img/bg-blue.png");
    background-size: 500px;*/
    background-color:#BCE2F5;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    background-repeat: repeat;
}

.aligncenter{
    text-align:center;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: ;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {
    background-color: #008CBA;
    color: white;
}

ul {
    list-style: none;
}
