<template name="layout">
	<div class="container">
		<ul class="nav nav-pills">
  			<li role="presentation">
  				<a href="{{pathFor 'home'}}"><span class="glyphicon glyphicon-home" style="color:black" aria-hidden="true" ></span></a>
  			</li>
  			
        <li role="presentation">
        <a href="/dashboard">Dashboard</a>
       </li>
       <li role="presentation">
        <a href="/gamecenter">Game Center</a>
       </li>
       <li role="presentation">
        <a href="/chat">Chat Room</a>
       </li>
       <li role="presentation">
        <a href="/commandList">Command List</a>
       </li>
       <li role="presentation">
          <a href="/about">About</a>
       </li>
       <li role="presentation">
        <a href="/comments">Comments</a>
       </li>
       {{#if currentUser}}
        <li><a href="#" class="logout">Logout</a></li>
       {{else}}
       <li><a href="{{pathFor route='register'}}">Register</a></li>
       <li><a href="{{pathFor route='login'}}">Login</a></li>
       {{/if}}
      
       <!-- <li>
 			 	{{> loginButtons}}
 			 </li>  -->
		</ul>
	 {{> yield}}

	</div>
</template>