<template name="layout">
	<div class="navbar">
<!-- 		<ul class="nav nav-pills"> -->
  <ul class="topnav">
<span class="glyphicons glyphicons-ruler-alt"></span>
  			<li role="presentation">
  				<a href="{{pathFor 'home'}}"><span id="homeicon" class="glyphicon glyphicon-home" style="color:black" aria-hidden="true" ></span></a>
  			</li>
  			{{#if currentUser}}
        <li role="presentation">
        <a href="/dashboard">Dashboard</a>
       </li>
       <li role="presentation">
        <a href="/gamecenter">Game Center</a>
       </li>
       <li role="presentation">
        <a href="/weather">Weather</a>
       </li>
       <li role="presentation">
        <a href="/chat">Chat Room</a>
       </li>
       <li role="presentation">
        <a href="/commandList">Command List</a>
       </li>
       <li role="presentation">
          <a href="/about">About</a>
       </li>
       <li role="presentation">
        <a href="/comments">Comments</a>
       </li>
       <li role="presentation">
        <a href="/map">Map</a>
       </li>
        <li><a href="#" class="logout">Logout</a></li>
       {{else}}
       <li><a href="{{pathFor route='registerorlogin'}}">Register/ Login</a></li>
       {{/if}}
      
       <!-- <li>
 			 	{{> loginButtons}}
 			 </li>  -->
		</ul>
	 {{> yield}}

	</div>
</template>