#js-contents {
	width:30%;
	height: 20%;
	padding: 10px 20px;
    margin: 6px 0;
    border:2px solid #0489B1;
    border-radius: 8px;
    color:white;

}
#js-contents:focus{
	background-color: #008CBA;
}

.overlay {
   position:fixed;
   display:none;
   /* color with alpha transparency */
   background-color: rgba(0, 0, 0, 0.7);
   /* stretch to screen edges */
   top: 0%;
   left: 0%;
   bottom: 0%;
   right: 0%;
   z-index: 2000;
}

.overlay .js-close-popup{
	position:fixed;
	display:block;
	background-color: rgba(0, 0, 0, 0.7);
	top:0;
	right:0;
	z-index: 2000;
}

.overlay .js-close-popup span{
	position:fixed;
	display:block;
	color:white;
	top:10px;
	right:10px;
	font-size: 200%;
	z-index: 2000;
}

.popup {
   position:fixed;
   display:none;
   color:white;
   /* stretch to screen edges */
   top: 10%;
   left: 20%;
   bottom: 10%;
   right: 20%;
   z-index: 5000;
}
