/*
Title: Bootstrap Lovecolor
Theme URI: http://www.teerapuch.com/
Description: customize css color in bootstrap with more top 100 color from colourlovers.com
Author: Teerapuch Kassakul
Author URI: http://www.teerapuch.com
Version: 0.1

License: GPL2
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Are You Serious? Yes.
*/

.dutch-teal {
  color: #1693A5;
}
.bg-dutch-teal {
  background-color: #1693A5;
}
.btn-dutch-teal { 
  color: #ffffff; 
  background-color: #1693A5; 
  border-color: #1693A5; 
} 
 
.btn-dutch-teal:hover, 
.btn-dutch-teal:focus, 
.btn-dutch-teal:active, 
.btn-dutch-teal.active, 
.open .dropdown-toggle.btn-dutch-teal { 
  color: #ffffff; 
  background-color: #0B798A; 
  border-color: #1693A5; 
} 
 
.btn-dutch-teal:active, 
.btn-dutch-teal.active, 
.open .dropdown-toggle.btn-dutch-teal { 
  background-image: none; 
} 
 
.btn-dutch-teal.disabled, 
.btn-dutch-teal[disabled], 
fieldset[disabled] .btn-dutch-teal, 
.btn-dutch-teal.disabled:hover, 
.btn-dutch-teal[disabled]:hover, 
fieldset[disabled] .btn-dutch-teal:hover, 
.btn-dutch-teal.disabled:focus, 
.btn-dutch-teal[disabled]:focus, 
fieldset[disabled] .btn-dutch-teal:focus, 
.btn-dutch-teal.disabled:active, 
.btn-dutch-teal[disabled]:active, 
fieldset[disabled] .btn-dutch-teal:active, 
.btn-dutch-teal.disabled.active, 
.btn-dutch-teal[disabled].active, 
fieldset[disabled] .btn-dutch-teal.active { 
  background-color: #1693A5; 
  border-color: #1693A5; 
} 
 
.btn-dutch-teal .badge { 
  color: #1693A5; 
  background-color: #ffffff; 
}

.label-dutch-teal {
  background-color: #1693A5;
}
.label-dutch-teal[href]:hover,
.label-dutch-teal[href]:focus {
  background-color: #1693A5;
}

.serenity-is {
  color: #ADD8C7;
}
.bg-serenity-is {
  background-color: #ADD8C7;
}
.btn-serenity-is { 
  color: #ffffff; 
  background-color: #ADD8C7; 
  border-color: #ADD8C7; 
} 
 
.btn-serenity-is:hover, 
.btn-serenity-is:focus, 
.btn-serenity-is:active, 
.btn-serenity-is.active, 
.open .dropdown-toggle.btn-serenity-is { 
  color: #ffffff; 
  background-color: #ADD8C7; 
  border-color: #ADD8C7; 
} 
 
.btn-serenity-is:active, 
.btn-serenity-is.active, 
.open .dropdown-toggle.btn-serenity-is { 
  background-image: none; 
} 
 
.btn-serenity-is.disabled, 
.btn-serenity-is[disabled], 
fieldset[disabled] .btn-serenity-is, 
.btn-serenity-is.disabled:hover, 
.btn-serenity-is[disabled]:hover, 
fieldset[disabled] .btn-serenity-is:hover, 
.btn-serenity-is.disabled:focus, 
.btn-serenity-is[disabled]:focus, 
fieldset[disabled] .btn-serenity-is:focus, 
.btn-serenity-is.disabled:active, 
.btn-serenity-is[disabled]:active, 
fieldset[disabled] .btn-serenity-is:active, 
.btn-serenity-is.disabled.active, 
.btn-serenity-is[disabled].active, 
fieldset[disabled] .btn-serenity-is.active { 
  background-color: #ADD8C7; 
  border-color: #ADD8C7; 
} 
 
.btn-serenity-is .badge { 
  color: #ADD8C7; 
  background-color: #ffffff; 
}

.label-serenity-is {
  background-color: #ADD8C7;
}
.label-serenity-is[href]:hover,
.label-serenity-is[href]:focus {
  background-color: #ADD8C7;
}

.heart-of-gold {
  color: #FBB829;
}
.bg-heart-of-gold {
  background-color: #FBB829;
}
.btn-heart-of-gold { 
  color: #ffffff; 
  background-color: #FBB829; 
  border-color: #FBB829; 
} 
 
.btn-heart-of-gold:hover, 
.btn-heart-of-gold:focus, 
.btn-heart-of-gold:active, 
.btn-heart-of-gold.active, 
.open .dropdown-toggle.btn-heart-of-gold { 
  color: #ffffff; 
  background-color: #E8A921; 
  border-color: #FBB829; 
} 
 
.btn-heart-of-gold:active, 
.btn-heart-of-gold.active, 
.open .dropdown-toggle.btn-heart-of-gold { 
  background-image: none; 
} 
 
.btn-heart-of-gold.disabled, 
.btn-heart-of-gold[disabled], 
fieldset[disabled] .btn-heart-of-gold, 
.btn-heart-of-gold.disabled:hover, 
.btn-heart-of-gold[disabled]:hover, 
fieldset[disabled] .btn-heart-of-gold:hover, 
.btn-heart-of-gold.disabled:focus, 
.btn-heart-of-gold[disabled]:focus, 
fieldset[disabled] .btn-heart-of-gold:focus, 
.btn-heart-of-gold.disabled:active, 
.btn-heart-of-gold[disabled]:active, 
fieldset[disabled] .btn-heart-of-gold:active, 
.btn-heart-of-gold.disabled.active, 
.btn-heart-of-gold[disabled].active, 
fieldset[disabled] .btn-heart-of-gold.active { 
  background-color: #FBB829; 
  border-color: #FBB829; 
} 
 
.btn-heart-of-gold .badge { 
  color: #FBB829; 
  background-color: #ffffff; 
}
.btn-heart-of-gold .badge { 
  color: #FBB829; 
  background-color: #ffffff; 
}

.label-heart-of-gold {
  background-color: #FBB829;
}
.label-heart-of-gold[href]:hover,
.label-heart-of-gold[href]:focus {
  background-color: #FBB829;
}

.hot-pink {
  color: #FF0066;
}

.bg-hot-pink {
  background-color: #FF0066;
}

.btn-hot-pink { 
  color: #FFFFFF; 
  background-color: #FF0066; 
  border-color: #FF0066; 
} 
 
.btn-hot-pink:hover, 
.btn-hot-pink:focus, 
.btn-hot-pink:active, 
.btn-hot-pink.active, 
.open .dropdown-toggle.btn-hot-pink { 
  color: #FFFFFF; 
  background-color: #E00B60; 
  border-color: #FF0066; 
} 
 
.btn-hot-pink:active, 
.btn-hot-pink.active, 
.open .dropdown-toggle.btn-hot-pink { 
  background-image: none; 
} 
 
.btn-hot-pink.disabled, 
.btn-hot-pink[disabled], 
fieldset[disabled] .btn-hot-pink, 
.btn-hot-pink.disabled:hover, 
.btn-hot-pink[disabled]:hover, 
fieldset[disabled] .btn-hot-pink:hover, 
.btn-hot-pink.disabled:focus, 
.btn-hot-pink[disabled]:focus, 
fieldset[disabled] .btn-hot-pink:focus, 
.btn-hot-pink.disabled:active, 
.btn-hot-pink[disabled]:active, 
fieldset[disabled] .btn-hot-pink:active, 
.btn-hot-pink.disabled.active, 
.btn-hot-pink[disabled].active, 
fieldset[disabled] .btn-hot-pink.active { 
  background-color: #FF0066; 
  border-color: #FF0066; 
} 
 
.btn-hot-pink .badge { 
  color: #FF0066; 
  background-color: #FFFFFF; 
}

.label-hot-pink {
  background-color: #FF0066;
}
.label-hot-pink[href]:hover,
.label-hot-pink[href]:focus {
  background-color: #FF0066;
}

.mighty-slate {
  color: #556270;
}
.bg-highty-slate {
  background-color: #556270;
}
.btn-highty-slate { 
  color: #FFFFFF; 
  background-color: #556270; 
  border-color: #556270; 
} 
 
.btn-highty-slate:hover, 
.btn-highty-slate:focus, 
.btn-highty-slate:active, 
.btn-highty-slate.active, 
.open .dropdown-toggle.btn-highty-slate { 
  color: #FFFFFF; 
  background-color: #556270; 
  border-color: #556270; 
} 
 
.btn-highty-slate:active, 
.btn-highty-slate.active, 
.open .dropdown-toggle.btn-highty-slate { 
  background-image: none; 
} 
 
.btn-highty-slate.disabled, 
.btn-highty-slate[disabled], 
fieldset[disabled] .btn-highty-slate, 
.btn-highty-slate.disabled:hover, 
.btn-highty-slate[disabled]:hover, 
fieldset[disabled] .btn-highty-slate:hover, 
.btn-highty-slate.disabled:focus, 
.btn-highty-slate[disabled]:focus, 
fieldset[disabled] .btn-highty-slate:focus, 
.btn-highty-slate.disabled:active, 
.btn-highty-slate[disabled]:active, 
fieldset[disabled] .btn-highty-slate:active, 
.btn-highty-slate.disabled.active, 
.btn-highty-slate[disabled].active, 
fieldset[disabled] .btn-highty-slate.active { 
  background-color: #556270; 
  border-color: #556270; 
} 
 
.btn-highty-slate .badge { 
  color: #556270; 
  background-color: #FFFFFF; 
}
.label-highty-slate {
  background-color: #556270;
}
.label-highty-slate[href]:hover,
.label-highty-slate[href]:focus {
  background-color: #556270;
}

.haunted-milk {
  color: #CDD7B6;
}
.bg-haunted-milk {
  background-color: #CDD7B6;
}
.btn-haunted-milk { 
  color: #FFFFFF; 
  background-color: #CDD7B6; 
  border-color: #CDD7B6; 
} 
 
.btn-haunted-milk:hover, 
.btn-haunted-milk:focus, 
.btn-haunted-milk:active, 
.btn-haunted-milk.active, 
.open .dropdown-toggle.btn-haunted-milk { 
  color: #FFFFFF; 
  background-color: #BCC7A3; 
  border-color: #CDD7B6; 
} 
 
.btn-haunted-milk:active, 
.btn-haunted-milk.active, 
.open .dropdown-toggle.btn-haunted-milk { 
  background-image: none; 
} 
 
.btn-haunted-milk.disabled, 
.btn-haunted-milk[disabled], 
fieldset[disabled] .btn-haunted-milk, 
.btn-haunted-milk.disabled:hover, 
.btn-haunted-milk[disabled]:hover, 
fieldset[disabled] .btn-haunted-milk:hover, 
.btn-haunted-milk.disabled:focus, 
.btn-haunted-milk[disabled]:focus, 
fieldset[disabled] .btn-haunted-milk:focus, 
.btn-haunted-milk.disabled:active, 
.btn-haunted-milk[disabled]:active, 
fieldset[disabled] .btn-haunted-milk:active, 
.btn-haunted-milk.disabled.active, 
.btn-haunted-milk[disabled].active, 
fieldset[disabled] .btn-haunted-milk.active { 
  background-color: #CDD7B6; 
  border-color: #CDD7B6; 
} 
 
.btn-haunted-milk .badge { 
  color: #CDD7B6; 
  background-color: #FFFFFF; 
}
.label-haunted-milk {
  background-color: #CDD7B6;
}
.label-haunted-milk[href]:hover,
.label-haunted-milk[href]:focus {
  background-color: #CDD7B6;
}
.vanilla-cream {
  color: #FCFBE3;
}
.bg-vanilla-cream {
  background-color: #FCFBE3;
}
.btn-vanilla-cream { 
  color: #706868; 
  background-color: #FCFBE3; 
  border-color: #FCFBE3; 
} 
 
.btn-vanilla-cream:hover, 
.btn-vanilla-cream:focus, 
.btn-vanilla-cream:active, 
.btn-vanilla-cream.active, 
.open .dropdown-toggle.btn-vanilla-cream { 
  color: #706868; 
  background-color: #E3E1B3; 
  border-color: #FCFBE3; 
} 
 
.btn-vanilla-cream:active, 
.btn-vanilla-cream.active, 
.open .dropdown-toggle.btn-vanilla-cream { 
  background-image: none; 
} 
 
.btn-vanilla-cream.disabled, 
.btn-vanilla-cream[disabled], 
fieldset[disabled] .btn-vanilla-cream, 
.btn-vanilla-cream.disabled:hover, 
.btn-vanilla-cream[disabled]:hover, 
fieldset[disabled] .btn-vanilla-cream:hover, 
.btn-vanilla-cream.disabled:focus, 
.btn-vanilla-cream[disabled]:focus, 
fieldset[disabled] .btn-vanilla-cream:focus, 
.btn-vanilla-cream.disabled:active, 
.btn-vanilla-cream[disabled]:active, 
fieldset[disabled] .btn-vanilla-cream:active, 
.btn-vanilla-cream.disabled.active, 
.btn-vanilla-cream[disabled].active, 
fieldset[disabled] .btn-vanilla-cream.active { 
  background-color: #FCFBE3; 
  border-color: #FCFBE3; 
} 
 
.btn-vanilla-cream .badge { 
  color: #FCFBE3; 
  background-color: #706868; 
}
.label-vanilla-cream {
  background-color: #706868;
}
.label-vanilla-cream[href]:hover,
.label-vanilla-cream[href]:focus {
  background-color: #706868;
}
.certain-frogs {
  color: #C3FF68;
}
.bg-certain-frogs {
  background-color: #C3FF68;
}
.btn-certain-frogs { 
  color: #706868; 
  background-color: #C3FF68; 
  border-color: #C3FF68; 
} 
 
.btn-certain-frogs:hover, 
.btn-certain-frogs:focus, 
.btn-certain-frogs:active, 
.btn-certain-frogs.active, 
.open .dropdown-toggle.btn-certain-frogs { 
  color: #706868; 
  background-color: #AADE5B; 
  border-color: #C3FF68; 
} 
 
.btn-certain-frogs:active, 
.btn-certain-frogs.active, 
.open .dropdown-toggle.btn-certain-frogs { 
  background-image: none; 
} 
 
.btn-certain-frogs.disabled, 
.btn-certain-frogs[disabled], 
fieldset[disabled] .btn-certain-frogs, 
.btn-certain-frogs.disabled:hover, 
.btn-certain-frogs[disabled]:hover, 
fieldset[disabled] .btn-certain-frogs:hover, 
.btn-certain-frogs.disabled:focus, 
.btn-certain-frogs[disabled]:focus, 
fieldset[disabled] .btn-certain-frogs:focus, 
.btn-certain-frogs.disabled:active, 
.btn-certain-frogs[disabled]:active, 
fieldset[disabled] .btn-certain-frogs:active, 
.btn-certain-frogs.disabled.active, 
.btn-certain-frogs[disabled].active, 
fieldset[disabled] .btn-certain-frogs.active { 
  background-color: #C3FF68; 
  border-color: #C3FF68; 
} 
.btn-certain-frogs .badge { 
  color: #C3FF68; 
  background-color: #C3FF68; 
}
.label-certain-frogs {
  background-color: #C3FF68;
}
.label-certain-frogs[href]:hover,
.label-certain-frogs[href]:focus {
  background-color: #C3FF68;
}

.vitamin-C {
  color:#FF9900;
}
.bg-vitamin-C {
  background-color:#FF9900;
}
.btn-vitamin-C { 
  color: #FFFFFF; 
  background-color: #FF9900; 
  border-color: #FF9900; 
} 
 
.btn-vitamin-C:hover, 
.btn-vitamin-C:focus, 
.btn-vitamin-C:active, 
.btn-vitamin-C.active, 
.open .dropdown-toggle.btn-vitamin-C { 
  color: #FFFFFF; 
  background-color: #ED9107; 
  border-color: #FF9900; 
} 
 
.btn-vitamin-C:active, 
.btn-vitamin-C.active, 
.open .dropdown-toggle.btn-vitamin-C { 
  background-image: none; 
} 
 
.btn-vitamin-C.disabled, 
.btn-vitamin-C[disabled], 
fieldset[disabled] .btn-vitamin-C, 
.btn-vitamin-C.disabled:hover, 
.btn-vitamin-C[disabled]:hover, 
fieldset[disabled] .btn-vitamin-C:hover, 
.btn-vitamin-C.disabled:focus, 
.btn-vitamin-C[disabled]:focus, 
fieldset[disabled] .btn-vitamin-C:focus, 
.btn-vitamin-C.disabled:active, 
.btn-vitamin-C[disabled]:active, 
fieldset[disabled] .btn-vitamin-C:active, 
.btn-vitamin-C.disabled.active, 
.btn-vitamin-C[disabled].active, 
fieldset[disabled] .btn-vitamin-C.active { 
  background-color: #FF9900; 
  border-color: #FF9900; 
} 
 
.btn-vitamin-C .badge { 
  color: #FF9900; 
  background-color: #FFFFFF; 
}
.label-vitamin-C {
  background-color: #FF9900;
}
.label-vitamin-C[href]:hover,
.label-vitamin-C[href]:focus {
  background-color: #FF9900;
}

.bloons {
  color: #D31996;
}
.bg-bloons {
  background-color: #D31996;
}
.btn-bloons { 
  color: #FFFFFF; 
  background-color: #D31996; 
  border-color: #D31996; 
} 
 
.btn-bloons:hover, 
.btn-bloons:focus, 
.btn-bloons:active, 
.btn-bloons.active, 
.open .dropdown-toggle.btn-bloons { 
  color: #FFFFFF; 
  background-color: #BA1483; 
  border-color: #D31996; 
} 
 
.btn-bloons:active, 
.btn-bloons.active, 
.open .dropdown-toggle.btn-bloons { 
  background-image: none; 
} 
 
.btn-bloons.disabled, 
.btn-bloons[disabled], 
fieldset[disabled] .btn-bloons, 
.btn-bloons.disabled:hover, 
.btn-bloons[disabled]:hover, 
fieldset[disabled] .btn-bloons:hover, 
.btn-bloons.disabled:focus, 
.btn-bloons[disabled]:focus, 
fieldset[disabled] .btn-bloons:focus, 
.btn-bloons.disabled:active, 
.btn-bloons[disabled]:active, 
fieldset[disabled] .btn-bloons:active, 
.btn-bloons.disabled.active, 
.btn-bloons[disabled].active, 
fieldset[disabled] .btn-bloons.active { 
  background-color: #D31996; 
  border-color: #D31996; 
} 
 
.btn-bloons .badge { 
  color: #D31996; 
  background-color: #FFFFFF; 
}
.label-bloons {
  background-color: #D31996;
}
.label-bloons[href]:hover,
.label-bloons[href]:focus {
  background-color: #D31996;
}
.sex-on-the-floor {
  color: #F02311;
}
.bg-sex-on-the-floor {
  color: #F02311;
}
.btn-sex-on-the-floor { 
  color: #FFFFFF; 
  background-color: #F02311; 
  border-color: #F02311; 
} 
 
.btn-sex-on-the-floor:hover, 
.btn-sex-on-the-floor:focus, 
.btn-sex-on-the-floor:active, 
.btn-sex-on-the-floor.active, 
.open .dropdown-toggle.btn-sex-on-the-floor { 
  color: #FFFFFF; 
  background-color: #CF2010; 
  border-color: #F02311; 
} 
 
.btn-sex-on-the-floor:active, 
.btn-sex-on-the-floor.active, 
.open .dropdown-toggle.btn-sex-on-the-floor { 
  background-image: none; 
} 
 
.btn-sex-on-the-floor.disabled, 
.btn-sex-on-the-floor[disabled], 
fieldset[disabled] .btn-sex-on-the-floor, 
.btn-sex-on-the-floor.disabled:hover, 
.btn-sex-on-the-floor[disabled]:hover, 
fieldset[disabled] .btn-sex-on-the-floor:hover, 
.btn-sex-on-the-floor.disabled:focus, 
.btn-sex-on-the-floor[disabled]:focus, 
fieldset[disabled] .btn-sex-on-the-floor:focus, 
.btn-sex-on-the-floor.disabled:active, 
.btn-sex-on-the-floor[disabled]:active, 
fieldset[disabled] .btn-sex-on-the-floor:active, 
.btn-sex-on-the-floor.disabled.active, 
.btn-sex-on-the-floor[disabled].active, 
fieldset[disabled] .btn-sex-on-the-floor.active { 
  background-color: #F02311; 
  border-color: #F02311; 
} 
 
.btn-sex-on-the-floor .badge { 
  color: #F02311; 
  background-color: #FFFFFF; 
}
.label-sex-on-the-floor {
  background-color: #F02311;
}
.label-sex-on-the-floor[href]:hover,
.label-sex-on-the-floor[href]:focus {
  background-color: #F02311;
}